.footer {
  text-align: center;
  height: 150px;
  background-color: #2D2B2B;
}

.footer-elements {
  display: flex;
  padding: 14px;
  margin: 10px;
  text-align: center;
  justify-content: center;
}

.footer-elements a {
  font-size: 32px;
}
.footer-elements p {
  font-size: 32;
}
